.sidebar {
 font-family: "Roboto", sans-serif;
    height: 100vh;
    position: sticky;
    width: 25%;
    top: 0;
    left: 0;
    background: #222;
    color: #fff;
    padding: 30px 10px;

    &__logo {
        align-items: center;
        gap: 10px;
        font-size: 20px;

        span {
            font-size: 32px;
        }
    }
}

.sidebar__collection {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sidebar__item {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .sidebar__link {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
        transition: .3s;

    }

    .sidebar__link.active {
        background: grey;
        color: white;
    }

    
}

.logout {
    padding: 10px 20px;
    background: grey;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: .4s;

}